@media screen and (max-width: 480px) {
    .contenedor_principal {
        flex-wrap: wrap;
    }

    .descripcion {
        width: 100%;
    }

    .descripcion_texto {
        margin: 20px;
    }

    .botones {
        align-items: start;
        flex-direction: column;
        gap: 20px;
    }

    .equipo {
        width: 100%;
    }

    .contenedor_equipo {
        margin: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .persona {
        margin: 10px;
    }
  }